/* overriding style.css */
/* solution for customarrows */


.prevSlide {
    position: absolute;
    top: 20%;
    left: -15%;
    padding: 100px 20px;
}
.nextSlide {
    position: absolute;
    top: 20%;
    right: -15%;
    padding: 100px 20px;
}

.prevSlideFirst {
  position: absolute;
  top: 20%;
  left: -30%;
  padding: 100px 10px;
}

.nextSlideLast {
  position: absolute;
  top: 20%;
  right: -30%;
  padding: 100px 10px;
}
