<!DOCTYPE html>
<html ng-app="carouselApp">
  <head>
    <meta charset="utf-8">
    <title>Slick Carousel Test</title>
    <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/refresh.css"/>
    <link rel="stylesheet" type="text/css" href="css/spinner.css"/>

  </head>
  <body ng-controller="CarouselController as vm">

    <a href="index.html">Go back to Index</a>

    <h2>Total : {{vm.count}} records, Number of Slides : <span id='noOfSlides'>0</span> slides</h2>
    <h2>Starting Time : {{vm.startTime | date:'yyyy-MM-dd HH:mm:ss.sss'}}, Ending Time : {{vm.endTime | date:'yyyy-MM-dd HH:mm:ss.sss'}}</h2>
    <h2>Elapsed Time : {{vm.elapsedTime}} millisecs</h2>
    <h3>This page shows the performance of the page rendering.</h3>
    <h3>Still users want to see fast response what I am looking for the best way.</h3>
    <h3>Please pull request if you know best way!</h3>
    <h3>Please check <a href="slickcommands.html">slick commands for more details.</a></h3>

    <button onclick="location.reload();">Refresh</button>
    <button ng-click="vm.setFilter(true)">setFilter 10</button>
    <button ng-click="vm.setFilter(false)">unfilterSlides</button>
    <button ng-click="vm.slickCommands('goTo', 0)">goTo first</button>
    <button ng-click="vm.slickCommands('goTo', vm.slides-1)">goTo last</button>

    <div class="carousel-contents">
      <div class="carousel-wrapper">

        <!-- spinner -->
        <div class="spinner-wrapper">
          <div class="spinner" >
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>

        <!-- carousel -->
        <slick class="my-slick" on-init=vm.onInit() on-re-init=vm.onReInit() on-before-change=vm.onBeforeChange() on-after-change=vm.onAfterChange() arrows=true dots=false infinite=false speed=300 slides-to-show=1 touch-move=false slides-to-scroll=1>
          <div class="line-item" ng-repeat="item in vm.arrayList()">
            <h1>{{item}}</h1>
          </div>
        </slick>

      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="js/lib/angular-slick/slick.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/CarouselController.js"></script>
  </body>
</html>
